.login{
   margin-left: 37%;
}
.theLogo img{
    margin: 2% 0% 2% 11%;
}
.theBoxLog{
    border:1px solid #ddd;
    border-radius: 5px;
    width:350px;
    height: 400px;
    padding: 20px;
}
.theBoxLog label{
    font-weight: 550;
    font-size: 16px;
}
.theBoxLog input{
    height: 20px;
    width: 97%;
    margin: 10px 0px 20px 0px;
}
.theBoxLog Button{
width: 100%;
background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
color: black;
font-size: 14px;
}
.theBoxLog button+p{
    font-size: small;
    margin-top: 40px;
}
.theFoot{
    margin-left: 30px;
    margin-top: 100px;
}
.theFoot a{
    text-decoration: none;
    font-size: small;
}
.theFoot span{
    margin-left: 20px;
    font-size: small;
}

@media screen and (max-width: 700px) {
   .login{
    margin-left: 10%;
   }
}